<mat-toolbar color="primary">
  <h1>Simplex Web</h1>
</mat-toolbar>

<div class="instructions">
  <p>This page has an implementation of the simplex algorithm.
    It can show you all the intermediate steps used to get the result.</p>
  <p>The algorithm is executed with infinite precision, using a fraction implementation that
    has the numerator and denominator implemented with biginteger.
  </p>
  <p>All the calculations are done within your browser page, so, if you close the app while the calculations are
    running, you will loose the progress.</p>
  <p>Down below you may write your Linear Program, use the example as a basis to understand the sintax.
    Simple mathematical expressions like *, +, -, /, are going to be interpreted before running simplex.
  </p>
  <h2>Input:</h2>
</div>
<div class="mat-elevation-z12" #editor></div>

<mat-toolbar *ngIf="error$ | async as error" color="warn">{{error}}</mat-toolbar>
<div class="instructions">
  <p>Following you can see the PL you typed above turned into FPI form</p>
  <h2>FPI:</h2>
</div>
<div class="mat-elevation-z12" #fpi></div>

<div class="instructions" *ngIf="answear$ | async as solution">
  <div [ngSwitch]="solution.type">
    <h2>Solution</h2>
    <span *ngSwitchCase="'ILIMITED'">ILIMITED</span>
    <span *ngSwitchCase="'UNFEASEABLE'">UNFEASEABLE</span>
    <ng-container *ngSwitchCase="'LIMITED'">
      <div>
        <label>Solution Type:</label>
        <span>LIMITED</span>
      </div>
      <div>
        <label>Objective value:</label>
        <span>{{solution.value | fraction}}</span>
      </div>
      <div>
        <label>Solution:</label>
        <span *ngFor="let v of solution.solution; let i = index">
          <ng-template [ngIf]="i != 0">,</ng-template>
          {{v | fraction}}
        </span>
      </div>
      <div>
        <label>Certificate:</label>
        <span *ngFor="let v of solution.certificate; let i = index">
          <ng-template [ngIf]="i != 0">,</ng-template>
          {{v | fraction}}
        </span>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'ILIMITED'">
      <div>
        <label>Solution Type:</label>
        <span>ILIMITED</span>
      </div>
      <div>
        <label>Solution:</label>
        <span *ngFor="let v of solution.solution; let i = index">
          <ng-template [ngIf]="i != 0">,</ng-template>
          {{v | fraction}}
        </span>
      </div>
      <div>
        <label>Certificate:</label>
        <span *ngFor="let v of solution.certificate; let i = index">
          <ng-template [ngIf]="i != 0">,</ng-template>
          {{v | fraction}}
        </span>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'UNFEASIBLE'">
      <div>
        <label>Solution Type:</label>
        <span>UNFEASIBLE</span>
      </div>
      <div>
        <label>Certificate:</label>
        <span *ngFor="let v of solution.certificate; let i = index">
          <ng-template [ngIf]="i != 0">,</ng-template>
          {{v | fraction}}
        </span>
      </div>
    </ng-container>
  </div>
</div>

<div class="instructions">
  <h2>Steps:</h2>
</div>
<div class="mat-elevation-z12 steps ace_editor ace-monokai ace_dark" *ngIf="steps$ | async as steps"
  [ngStyle]="style$ | async">
  <ng-container *ngFor="let step of steps">
    <h3 [ngStyle]="headStyle$ | async">{{step.name}}</h3>
    <!-- Header -->
    <ng-container *ngFor="let v of step.certificate">
      <app-fraction class="ace_constant ace_numeric bdown" [value]="v"></app-fraction>
    </ng-container>
    <ng-container *ngFor="let v of step.C; let first = first; let j = index">
      <app-fraction class="ace_constant bdown" [class.ace_numeric]="step.base[j] === undefined"
        [class.ace_variable]="step.base[j] !== undefined" [class.bleft]="first" [value]="v"></app-fraction>
    </ng-container>
    <div class="bdown" [ngStyle]="spacerStyle$(step) | async"></div>
    <app-fraction class="ace_constant ace_numeric bdown bleft" [value]="step.v"></app-fraction>
    <!-- Body -->
    <ng-container *ngFor="let line of step.A; let i = index; let last = last">
      <ng-container *ngFor="let v of step.certificateMatrix[i]">
        <app-fraction class="ace_constant ace_numeric" [class.sh2]="last" [class.sh1]="last" [value]="v"></app-fraction>
      </ng-container>
      <ng-container *ngFor="let v of line; let first = first; let j = index">
        <app-fraction class="ace_constant" [class.ace_numeric]="step.base[j] === undefined"
          [class.ace_variable]="step.base[j] !== undefined" [class.bleft]="first" [class.sh2]="last" [class.sh1]="last"
          [value]="v"></app-fraction>
      </ng-container>
      <div [ngStyle]="spacerStyle$(step) | async" [class.sh2]="last" [class.sh1]="last"></div>
      <app-fraction class="ace_constant ace_numeric bleft" [class.sh2]="last" [class.sh1]="last" [value]="step.B[i]">
      </app-fraction>
    </ng-container>
  </ng-container>
</div>