<mat-toolbar color="primary">
  <h1>Simplex Web</h1>
</mat-toolbar>

<div class="instructions">
  <p>This page has an implementation of the simplex algorithm.
    It can show you all the intermediate steps used to get the result.</p>
  <p>The algorithm is executed with infinite precision, using a fraction implementation that
    has the numerator and denominator implemented with biginteger.
  </p>
  <p>All the calculations are done within your browser page, so, if you close the app while the calculations are
    running, you will loose the progress.</p>
  <p>Down below you may write your Linear Program, use the example as a basis to understand the sintax.
    Simple mathematical expressions like *, +, -, /, are going to be interpreted before running simplex.
  </p>
  <h2>Input:</h2>
</div>
<div #editor></div>

<mat-toolbar *ngIf="error$ | async as error" color="warn">{{error}}</mat-toolbar>
<div class="instructions">
  <p>Following you can see the PL you typed above turned into FPI form</p>
  <h2>FPI:</h2>
</div>
<div #fpi></div>

<div class="instructions" *ngIf="solution$ | async as solution">
  <div [ngSwitch]="solution.type">
    <h2>Solution</h2>
    <span *ngSwitchCase="'ILIMITED'">ILIMITED</span>
    <span *ngSwitchCase="'UNFEASEABLE'">UNFEASEABLE</span>
    <ng-container *ngSwitchCase="'LIMITED'">
      <div>
        <label>Solution Type:</label>
        <span>LIMITED</span>
      </div>
      <div>
        <label>Objective value:</label>
        <span>{{solution.value | fraction}}</span>
      </div>
      <div>
        <label>Solution:</label>
        <span *ngFor="let v of solution.solution; let i = index">
          <ng-template [ngIf]="i != 0">,</ng-template>
          {{v | fraction}}
        </span>
      </div>
      <div>
        <label>Certificate:</label>
        <span *ngFor="let v of solution.certificate; let i = index">
          <ng-template [ngIf]="i != 0">,</ng-template>
          {{v | fraction}}
        </span>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'ILIMITED'">
      <div>
        <label>Solution Type:</label>
        <span>ILIMITED</span>
      </div>
      <div>
        <label>Solution:</label>
        <span *ngFor="let v of solution.solution; let i = index">
          <ng-template [ngIf]="i != 0">,</ng-template>
          {{v | fraction}}
        </span>
      </div>
      <div>
        <label>Certificate:</label>
        <span *ngFor="let v of solution.certificate; let i = index">
          <ng-template [ngIf]="i != 0">,</ng-template>
          {{v | fraction}}
        </span>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'UNFEASIBLE'">
      <div>
        <label>Solution Type:</label>
        <span>UNFEASIBLE</span>
      </div>
      <div>
        <label>Certificate:</label>
        <span *ngFor="let v of solution.certificate; let i = index">
          <ng-template [ngIf]="i != 0">,</ng-template>
          {{v | fraction}}
        </span>
      </div>
    </ng-container>
  </div>
</div>