.instructions {
    margin: 1em;
}

.ace_editor {
    width: calc(100% - 2em);
    height: 15em;
    margin: 1em;
}

mat-toolbar[color='warn'] {
    width: calc(100% - 2em);
    height: 32px;
    font-size: 1em;
    margin: 1em;
}

label {
    margin-right: .5em;
    font-weight: bold;
}