<mat-toolbar color="primary">
  <h1>Simplex Web</h1>
</mat-toolbar>

<div class="instructions">
  <p>This page has an implementation of the simplex algorithm.
    It can show you all the intermediate steps used to get the result.</p>
  <p>The algorithm is executed with infinite precision, using a fraction implementation that
    has the numerator and denominator implemented with biginteger.
  </p>
  <p>All the calculations are done within your browser page, so, if you close the app while the calculations are
    running, you will loose the progress.</p>
  <p>Down below you may write your Linear Program, use the example as a basis to understand the sintax.
    Simple mathematical expressions like *, +, -, /, are going to be interpreted before running simplex.
  </p>
</div>

<div #editor></div>

<div class="instructions">
  <p>Following you can see the PL you typed above turned into FPI form</p>
</div>
<div #fpi></div>